/* Roboto fonts
-------------------------------------------------- */

@font-face {
	font-family: "Roboto-Regular";
	src: url("Roboto-Regular.ttf");
}

@font-face {
	font-family: "Roboto-Bold";
	src: url("Roboto-Bold.ttf");
}

@font-face {
	font-family: "Roboto-Light";
	src: url("Roboto-Light.ttf");
}

@font-face {
	font-family: "Roboto-Medium";
	src: url("Roboto-Medium.ttf");
}

/* Header
-------------------------------------------------- */

header {
	display: flex;
	width: 100%;
	height: 70px;
	box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
	background-color: #37405a;
}

img.logo {
	width: 50px;
	height: 50px;
	margin: 10px;
	float: left;
}

span.line {
	float: left;
	width: 1px;
	height: 50px;
	margin-top: 10px;
	border: solid 1px #2b2e40;
}

h1 {
	float: left;
	padding-top: 12px;
	padding-left: 20px;
	height: 24px;
	font-family: Roboto-Regular;
	font-size: 20px;
	font-weight: 400;
	color: #ffffff;
}

/* Body
-------------------------------------------------- */
body {
	display: flex;
	flex-direction: column;
	background-image: linear-gradient(to bottom, #30365a, #2b2e40);
}

html, body {
	width: 100%;
	height: 100%;
}

	body section {
		display: block;
		width: 100%;
		height: 100%;
		padding: 15px;
	}

#revealView {
	height: 100%;
}
